<div>
	<% <form id="emojiForm" action=`chatGroups/${groupId}/${messages.messageId}/submitEmoji` method="post"> %>
		<select id="emojiSelect">
			<option value="happy" data-image="/happy.jpg">happy</option>
			<option value="100" data-image="/100.jpg">100</option>
			<option value="/thumb" data-image="/thumb.jpg">thumb</option>
			<!-- Add more options as needed -->
		</select>
	</form>
</div>